<body>

<div id = "my_map"></div>
<script>

  function initialize_user_map () {

      map = L.mapbox.map('my_map', 'examples.map-i86nkdio').setView([42.15, -70.78], 15);

  // //     var tracks = L.mapbox.featureLayer(tracksJSON);
  // //       tracks.addTo(map);
  // //       map.fitBounds(tracks.getBounds());

      marker = L.marker([current_photo.lat,current_photo.long]).addTo(map);
      viewer = L.multiPolygon([JSON.parse(current_photo.viewer_coords)]).addTo(map);

  }

  window.onload = function() { prepareEventHandlers();};

   function prepareEventHandlers() {

    position = 0;

    all_photos = <%= @photos %>;

    current_photo = JSON.parse(all_photos[position]);

    back = document.getElementById("back");
    next = document.getElementById("next");
    image = document.getElementById("my_photo");

    image.src = "/images2/" + current_photo.file_name;
    initialize_user_map();

    next.addEventListener('click', advance);
    back.addEventListener('click', retreat);
  }

  function advance () {
    if ( position < all_photos.length ) { position++ };
    update_page();
   }

  function retreat () {
    if ( position > 0 ) { position-- };
    update_page();
  }


  function update_page() {
    current_photo = JSON.parse(all_photos[position]);
    image.src = "/images2/" + current_photo.file_name;
    marker.setLatLng(L.latLng(
       [current_photo.lat,
       current_photo.long]
       ));
    viewer.setLatLngs([JSON.parse(current_photo.viewer_coords)]).addTo(map);

  }

</script>

<div id = "my_photo_container"><br>
<div id = "back" class = "nav_button"></div>
<img id = "my_photo" src = ""/>
<div id = "next" class = "nav_button"></div>
</div>

<div id = "my_tracks">

  <span id = "my_tracks_title"><b>Notes</b></span>

  <div class = "track"> <%= %></div>

</div>


</body>
